<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lighthouse</title>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header>
      <a href="/">☀</a>

      <nav>
        <ul>
          <li><a href="/books">Books</a> </li>
          <li><a href="/papers">Papers</a></li>
        </ul>
      </nav>

      <form action="<%= search_path(@conn, :index) %>" method="post" >
        <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
        <input data-id="search" type="text" name="query" placeholder="To search, press s"/>
        <button type="submit">Go</button>
      </form>
    </header>

    <main>
      <%= @inner %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>
</html>
