<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Faros</title>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div id="main">
    </div>

    <script src="<%= static_path(@conn, "/js/main.js") %>"></script>
    <script>
      var div = document.getElementById('main');

      Elm.embed(Elm.Main, div);
    </script>
  </body>
</html>
