<ul>
  <a href="<%= papers_path(@conn, :add) %>">
    Add paper
  </a>
  <%= for paper <- @papers do %>
    <li>
      <a href="<%= papers_path(@conn, :show, paper.slug) %>"><%= paper.title %></a>
    </li>
  <%= end %>
</ul>
