<header>
  <h1><%= @paper.title %></h1>
</header>

<section class="papers">
  <header>
    <p>by <%= @paper.author %></p>
  </header>

  <p><%= @paper.description %></p>
  <p><%= @paper.link %></p>

  <ul>
  <%= for category <- @categories do %>
    <li><%= category.name %></li>
  <% end %>
  </ul>
</section>
