<ul class="eight columns">
  Welcome to Lighthouse, life is hard.
</ul>

<form action="<%= search_path(@conn, :index) %>" method="post">
  <div class="form-group">
    <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">

    <input type="text" name="query" value="" class="form-control" />
  <button type="submit" class="btn btn-primary">Search</button>
</form>
