$blue: #1586B8;
$light-blue: lighten($blue, 10%);
$complement: #BF2B21;
$graphite: #454343;
$light-graphite: lighten($graphite, 40%);
$white: #FFFFFF;
$yellow: #F2E527;


$hairline: #ddd;

$font-color: #333333;
$inverted: #FDFDFD;

$font-size: 14px;
$line-height: 21px;


$medium: 600px;
