$blue: #1586B8;
$light-blue: lighten($blue, 10%);
$complement: #BF2B21;
$graphite: #454343;
$light-graphite: lighten($graphite, 60%);
$white: #FFFFFF;
$yellow: #F2E527;


$hairline: #ddd;

$font-color: #29323C;
$inverted: #F7F7F7;

$font-size: 14px;
$line-height: 21px;


$medium: 600px;
