$blue: #1586B8;
$light-blue: lighten($blue, 10%);
$complement: #BF2B21;
$graphite: #454343;
$charcoal: #2b2b2b;
$light-graphite: lighten($graphite, 40%);
$white: #FFFFFF;
$off-white: #f9f9f9;
$yellow: #F2E527;


$hairline: #ddd;

$font-color: #333333;
$inverted: #F8F8F8;

$font-size: 14px;
$line-height: 21px;


$medium: 600px;
$small: 400px;
