@import 'config';

section.book {
  dl {
    margin: 0;
  }

  dt {
    line-height: 2.5em;
    float: left;
    font-weight: 600;
    width: 15%;
  }

  dd {
    line-height: 2.5em;
  }

  dd + dd {
    margin-left: 15%;
  }

  dt + dd + dd {
    margin-top: -0.5em;
  }

  form {
    @import 'item-form';

    img {
      width: 30%;
      float: right;
    }
  }
}
