@import 'config';
@import 'base';

body > header {
  @extend %clearfix;

  border-bottom: 1px solid $dark-grey;
  padding: 1em 2em;
  margin-bottom: 1em;
  clear: both;

  > a {
    float: left;
    margin-right: 5em;
  }

  nav {
    display: inline;

    ul {
      margin: 0;
    }

    li {
      float: left;
      margin-right: 2em;
    }
  }

  form {
    float: right;
  }
}
