<div class="book eight columns">
  <h3 class="book__title">
    <%= @book.title %>
  </h3>

  <a href="<%= @book.link %>" class="book__link">
    <%= @book.link %>
  </a>

  <p class="book__description">
    <%= @book.description %>
  <p>

  <a href="<%= books_path(@conn, :edit, @book.slug) %>" >
    Edit
  </a>
</div>
